@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@700&display=swap');
header {
    background-color: #ff0;
    background-image: url('../img/bckg.jpg');
   /* background-position: 30px 20px;*/
    background-repeat: repeat-x;
    padding-bottom: 5%;
    margin-bottom: 20px;
    
}
main{
    background-color: rgb(63, 65, 63);
    color: white;
    margin-left: 10%;
    margin-right: 10%;
}
footer{
    background-color: rgb(42, 43, 42);
    color:  white;
    text-align: center;
    margin-top: 1.5%;
    margin-left: 30%;
    margin-right: 30%;
}
html{ background-color: rgb(32, 30, 30);}
h1 {
    text-align: center;
    font-size: 50px;
    color: white;
    padding-top: 10%;
    font-family: 'Oswald', sans-serif;
}

h2 {
   text-transform: uppercase; 
   text-align: center;
   font-size: 25px;
   
}
h2 a {
    color: rgb(255, 255, 255);
}
    .flex-container {
    display: flex;
    flex-flow: row ;
    background-color: rgb(63, 65, 63);
    
}
ol {
    font-size: 20px;
    text-align: start;
}

.flex-container > div {
    background-color: #249741;
    width: 70%;
    margin: 12px;
    
    padding: 5px;
       
}